main {
  padding: 1%;
  height: 90vh;
  display: flex;
  justify-content: center;
  gap: 5vh;
}

.viewport {
  width: 60%;
  height: 100%;
}

.start-menu {
  height: 30%;
}

.logs {
  height: 65%;
}

.text {
  color: whitesmoke;
}
