
select {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.03);
    color: whitesmoke
}

.control-panel {
    padding: 20px;
    margin: 0 auto;
    width: 30vh;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.section {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.section:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

h2 {
    margin-top: 0;
    font-size: 18px;
    color: whitesmoke;
}

h3 {
    color: whitesmoke;
}

p {
    color: whitesmoke;
}

.input-group {
    margin-bottom: 15px;
    width: 27vh;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

input[type="text"],
input[type="number"]{
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.03);
    color: whitesmoke
}

input[type="text"]:focus,
input[type="number"]:focus {
  background: rgba(255, 255, 255, 0.03);
  color: whitesmoke;
  outline: none;
  box-shadow: none;
}

input:-webkit-autofill {
  background: rgba(255, 255, 255, 0.03) !important;
  color: whitesmoke !important;
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.03) inset !important;
}

button {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease;
}
        
button:hover {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
        
.section-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
}

.container {
  display: flex;
  justify-content: center;
  gap: 3vh;
  width: 80%;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: start;
  gap: 10px;
}

.bold-text {
    color: rgb(182, 182, 182);
    font-weight: bold;
}

.center-text {
    display: flex;
    align-content: center;
}

.gap {
    display: flex;
    gap: 1.5vh;
}

.error-text {
    color: red;
}